@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* font-family: 'Rubik', sans-serif; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* logo */
a.navbar-brand.logo img {
    width: 135px;
}
 
.section-heading {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.section-heading h2 {
    font-size: 33px;
    font-weight: 500;
    line-height: 1.17;
    color: #ffffff;
}

.section-heading .hr-divider {
    width: 120px;
    height: 5px;
    border-radius: 9px;
    background-color: #5100fa;
    margin: 0 auto;
}

.section-heading p {
    font-size: 25px;
    color: #5100FA;
    margin-bottom: 0;
}

.section-heading .hr-divider-2 {
    width: 80%;
    background: #3693FF;
    height: 1px;
    margin: 0 auto;
}
/* Navbar */

.hero-section nav {
    padding-top: 15px;
}

.hero-section nav ul li {
    margin-left: 18px;
}

.hero-section nav ul li a {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff !important;
    text-transform: uppercase;
}

.hero-section nav ul li a.btn.get_in_toch {
    background-color: #5100fa;
    font-family: 'Rubik', sans-serif;
    padding: 8px 20px;
    text-transform: capitalize;
    border-radius: 2px;
}
/* Hero section background */

.hero-section {
    background-color: #4023a4;
}
/* logo */

a.navbar-brand.logo {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.17;
    color: #ffffff;
}

.hero_content h1 {
    font-family: 'Rubik', sans-serif;
      font-size: 40px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: 1.5px;
      text-align: left;
      color: #ffffff;
      padding: 0px;
}
.hero_content a{
    background-color: #6253ff;
    color: #fff;
    border-radius: 2px;
    border: 0px;
    padding: 12px 39px;
    font-size: 16px;
    font-weight: 400;
}
p.hero-text {
    opacity: 0.51;
    font-size: 21px;
    line-height: 1.33;
    color: #8bc1ff;
}

a.get-in-touch {
    font-family: 'Rubik', sans-serif;
    background-color: #5100fa;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 35px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    width: 185px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.73px;
}

.hero_content {
    width: 100%;
    padding: 130px 0px 0px;
}

.heroinner {
    width: 100%;
    padding: 70px 0 70px 110px;
}
/* About Us */
.aboutus-section {
    background-color: #351d88;
}

.main-aboutus {
    padding: 7em 0em 7em 0em;
}
.aboutus-text {
    opacity: 0.61;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.42px;
    text-align: left;
    color: #ffffff;
   overflow: hidden;
}
.financial-freedom-text{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.38px;
    text-align: left;
    color: #ffffff;
}
.founder-head {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #9dff6d;
}
.founder {
    font-size: 10px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: #9dff6d;
}
.aboutus-text-section {
background-color: #6253ff;
padding: 40px;
}
.aboutus-text-section.quote{
position: relative;
/* margin-bottom: 15px; */

}
.aboutus-text-section.quote.mt-2 {
    padding: 44px;
}
.financial-freedom-text::before {
content: "";
position: absolute;
left: 19px;
background: url(../images/before-quote1.png);
background-repeat: no-repeat;
background-size: 100%;
height: 20px;
width: 20px;
}
.financial-freedom-text::after{
content: "";
position: absolute;
top: 85px;
background: url(../images/after-quote1.png);
background-repeat: no-repeat;
background-size: 100%;
height: 20px;
width: 20px;
}
.aboutus-text-section h1, h1 {
font-size: 2.5rem;
font-size: 30px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 1.08;
letter-spacing: normal;
text-align: left;
color: #ffffff;

}
.hr-divider {
width: 170px;
height: 3px;
background-color: #ffffff;
/* margin-left: 24px; */
margin-bottom: 10px;
}
/* services section  */
.service-section {
background-color: #4023a4;
}
.main-service{
padding: 40px;
}
.main-service h2 {
font-family: 'Rubik', sans-serif;
font-size: 30px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.05;
letter-spacing: normal;
color: #ffffff;
}
.main-service p {
font-family: 'Rubik', sans-serif;
font-size: 30px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1.2;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}
.main-service span{
font-weight: 500;
color: #b2ff59;
}
.service-text {
width: 100%;
text-align: center;
}


/* Industries */

.industries {
    width: 100%;
    padding: 100px 0;
    background: #351D88;
}

.industries .section-heading {
    margin-bottom: 70px;
}

.industries .industries-row {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.industries .industries-row .industries-pattern {
    position: absolute;
    left: -30px;
    top: -30px;
}

.industries .industries-row .industries-block {
    position: relative;
    width: 100%;
    padding: 20px;
    z-index: 0;
}

.industries .industries-row .industries-block img {
    width: 100%;
}

.industries .industries-row .industries-block .overlay-text {
    position: absolute;
    background: #6253FF;
    width: 84%;
    padding: 15px 30px;
    border-radius: 0 40px 0 0;
    bottom: 20px;
}

.industries .industries-row .industries-block .overlay-text p {
    font-size: 20px;
    color: #fff;  
    text-align: left;
    margin-bottom: 0px;
    line-height: 1.14;
    letter-spacing: 0.88px;
    font-weight: 500;
}


/* Our customers */

.our-costomers {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background: #4023A4;
    overflow: hidden;
}

.our-costomers .testmonial-path {
    position: absolute;
    top: 0;
    right: -5px;
    width: 30%;
}

.our-costomers .section-heading {
    margin-bottom: 70px;
}

.customers-feedback-row {
    width: 100%;
    position: relative;
}

.customers-feedback-row .feedback-block {
    padding: 30px 40px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    margin-top: 90px;
}

.customers-feedback-row .user-image {
    text-align: left;
}

.customers-feedback-row .rating {
    text-align: left;
    padding: 20px 0;
    margin: 25px 0 0;
}

.customers-feedback-row .user-content {
    text-align: left;
    position: relative;
}

.customers-feedback-row .user-image img {
    position: absolute;
    top: -50px;
}

.feedback-block .user-content p {
    color: #7a839e;
    font-size: 14px;
    line-height: 2.19;
    font-weight: 300;
}

.customers-feedback-row .user-content span {
    display: block;
}

.customers-feedback-row .user-name {
    font-size: 18px;
    font-weight: 500;
    color: #091E64;
}

.user-address {
    font-size: 16px;
    font-weight: 300;
    color: #091E64;
}

.customers-feedback-row .quote {
    position: absolute;
    right: 25px;
    width: 100px;
    bottom: 25px;
}

.customers-feedback-row {
    width: 100%;
    padding: 0px 0px 40px 100px;
}

.customers-feedback-row .owl-nav {
    text-align: center;
    margin-top: 40px;
}

.customers-feedback-row .owl-nav button {
    margin-left: 20px;
}

.customers-feedback-row .owl-prev img {
    width: 75%;
    object-fit: contain;
}

.customers-feedback-row .owl-next img {
    width: 85%;
    object-fit: contain;
}

.customers-feedback-row .testmonial-pattern {
    position: absolute;
    width: 200px;
    top: 235px;
    left: 65px;

}

.circular-shape {
    position: absolute;
    width: 150px;
}

.circular-shape.shape-7 {
    left: 0;
    width: 70px;
}


/* Footer */

.touch {
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #6253ff !important;
}

.tchtext {
    font-size: 25px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.touch1 {
    margin-left: 6px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 1.21px;
    text-align: left;
    color: #3693ff;
}

.footernav {
    padding-top: 41px;
}

.footernav li {
    padding-left: 0.5em;
    font-weight: 400 !important;
    font-size: 15px;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.21px;
    text-align: left;
    color: #3693ff;
    list-style-type: none;
    font-weight: 300 !important;
}

.address {
    font-size: 15px;
    font-weight: 300 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: 1.21px;
    text-align: left;
    color: #3693ff;
    margin-left: 15px;
}

.min-foot {
    padding: 14px 0;
    background: #351D88;
    border-top: 1px solid #7070FF;
}

.copyright {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.35;
    letter-spacing: normal;
    text-align: left;
    color: #3693ff;
}

.minnav li {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.35;
    letter-spacing: 1.07px;
    text-align: left;
    color: #3693ff;
    padding: 5px;
}

.copyright a {
    color: #3693ff;
}

.footlogo {
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 15px;
}

.footer {
    background-color: #351D88;
    color: #f2a3a5;
    padding: 4em 0 2em 0;
}

#email {
    height: 2.5em;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: #6253ff;
    border: none;
    color: #fff;
    padding: 25px 26px;
}

.field {
    padding-bottom: 15px;
    width: 80%;
}

.field input,
.field textarea {
    width: 100%;
}

#message {
    border: none;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: #6253ff;
    color: #fff;
    padding: 8px 18px 0px 20px;
}

.alt {
    border: none;
    background-color: #6253FF;
    padding: 10px 45px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}

.minfoot ul {
    margin-bottom: 0px;
}


/* -- Media queries -- */

@media(max-width:768px) {
    .navbar ul li a.get-in-touch {
        display: inline-block;
        margin-top: 20px;
    }
    .navbar-toggler {
        background: #ddd;
    }
    #navbarTogglerDemo02 {
        background: #351D88;
        padding: 10px 30px 30px;
    }
    header {
        padding: 0 15px;
    }
    .hero-section {
        padding: 100px 0;
    }
    .hero-section h1 {
        font-size: 30px;
    }
    .play-video img {
        width: 45px;
        margin-right: 5px;
    }
    .services-we-provide .service-block p {
        width: 80%;
    }
    .hero-btn .play-video {
        margin-left: 10px;
    }
    .hero-btn .btn.btn-light {
        padding: 10px 15px;
        font-size: 14px;
    }
    .section-heading h2 {
        font-size: 25px;
    }
    .how-it-works .works-content {
        padding: 45px 0px 0 5px;
    }
    .industries {
        padding: 50px 0;
    }
    .industries .industries-row {
        width: 100%;
    }
    .industries-block .overlay-text {
        width: 70%;
        padding: 15px 20px;
    }
    .customers-feedback-row {
        padding: 0px 0px 0 35px;
    }
}


/* About us */

.contact-hero_content h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 52px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.5px;
    text-align: left;
    color: #ffffff;

}

/* our offices */
.our-offices {
    width: 100%;
    padding: 100px 0;
    background: #351D88;
}
.our-offices .offices-row {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.office-content-ca {
    background-color: #f8f8f8;
    padding: 86px;
}

.office-content-ca h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 61px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: -1.22px;
    text-align: left;
    color: #27445e;
  }
  .office-content-ca p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;
  }
  .office-content-ca .address{
    opacity: 0.8;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;


  }
  .office-content-ca a {
    font-family: 'Rubik', sans-serif;
    background-color: #6253ff;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 3px;
    display: inline-block;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.73px;
}
.office-content-ca span {
    font-family: 'Rubik', sans-serif;
    font-size: 73px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.73px;
    opacity: 0.2;
}
.office-content-ca::before {
    background-color: #6253ff;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 64%;
    width: 7px;
    content: "";
    position: absolute;
    top: 91px;
    left: 56px;
}
/*  */
.office-content-ny{
    background-color: #f8f8f8;
    padding: 77px;
}
.office-content-ny h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 61px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: -1.22px;
    text-align: left;
    color: #27445e;
  }
  .office-content-ny p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;
  }
  .office-content-ny .address{
    opacity: 0.8;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;
    width: 62%;

  }
  .office-content-ny a {
    font-family: 'Rubik', sans-serif;
    background-color: #6253ff;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.73px;
}

.office-content-ny span {
    font-family: 'Rubik', sans-serif;
    font-size: 73px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: 0.73px;
    opacity: 0.2;
}
.office-content-ny::after {
    background-color: #6253ff;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 64%;
    width: 7px;
    content: "";
    position: absolute;
    top: 91px;
    /* left: 56px; */
    right: 120px;
}
.office-content-img img {
    width: 100%;
}

.office-content-ca div.address::before {
    content: "";
    position: absolute;
    background: url(../images/Map-pin-blue.png);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px;
    width: 20px;
    left: 74px;

}
.office-content-ny div.address::before {
    content: "";
    position: absolute;
    background: url(../images/Map-pin-blue.png);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px; 
    width: 20px;
    left: 63px;

}

/* Contact Form */
.hero_col_img img {
    width: 80%;
    height: 80%;
}
.contact-from {
    width: 100%;
    padding: 100px 0;
    background: #4023a4;
}
.contact-from .contact-form-row{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.main-contact-from {
    background-color: #ffffff;
}
.contactfrom-heading h2{
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: -0.86px;
  text-align: center;
  color: #6253ff;
}
.contactfrom-heading .divider{
    width: 125px;
    height: 3px;
    background-color: #6253ff;
    margin-left: 24px;
    margin-bottom: 10px;
    margin: 0px auto;
}
.form-container {
    padding: 50px;
}
.form-container .form-label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    color: #27445e;
}
.form-container .form-control {
    background-color: #f8f8f8;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #83858f;
    border: none;
    padding: 15px 20px !important;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.contactfrom-heading {
    padding-top: 20px;
}
#form-submit {
    background-color: #6253ff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: -0.46px;
    color: #ffffff;
    padding: 10px 45px;
    border: none;
    margin-top: 15px;
}
.letus-talk {
    background-color: #6253ff;
    padding: 95px;
}
.letus-talk .heading h2 {
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: -1.04px;
    text-align: left;
    color: #ffffff;
}
 .heading p{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.contact-list {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #ffffff;
}
.contact-list .img-div img {
    width: 33px;
}

.contact-list .img-div {
    margin-right: 15px;
}
@media(max-width:768px){
.letus-talk {
    padding: 20px 0px 30px 30px;
}
.office-content-ny::after {
    right: 26px;
}
}